.list {
  @media (min-width: @device-width-medium) {
    &__item {
      display: flex;
      flex-wrap: nowrap;
    }

    &__item-content {
      width: 90%;
    }
  }

  &__item-image-container {
    width: 25%;
    margin: 0 auto;

    @media (min-width: @device-width-medium) {
      width: 10%;
    }
  }

  // --------------------------------------------------
  // Ordered list
  // --------------------------------------------------
  &__container.is-ordered-list .list__item {
    counter-increment: step-counter;
  }

  &__container.is-ordered-list .list__item-step-number:before {
    content: counter(step-counter);
  }
  // --------------------------------------------------
}
