.list-component {
	overflow: hidden;

	.list-item {
		position: relative;
		counter-increment: step-counter;

		&:before {
		    content: counter(step-counter);
		    position: absolute;
		    left: 21px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		    padding: @item-padding;
		    font-size: @body-text-font-size;
		    line-height: 1;
		    background-color: @item-color;
		    color: @item-text-color;
		    font-weight: bold;
		}

		&.has-image {
			&:before {
				display: none;
			}
		}

	}

	.list-item-title {
		padding: @item-padding;
		padding-left: 100px;
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 80px;
		margin-bottom: 15px;
	}

	&.is-animated-list {
		.list-item {
			right: -100%;
			opacity: 0;
			-webkit-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
			&.animate {
				right: 0;
				opacity: 1;
			}
		}
	}

}